# Modo Desarrollo
EXPO_PUBLIC_API_URL=http://192.168.31.164:3000
EXPO_PUBLIC_ENVIRONMENT=DEV
EXPO_PUBLIC_DEV_ROLE=admin

# Modo Producción (descomentar para producción)
# EXPO_PUBLIC_API_URL=https://jarana-horas-back.onrender.com
# EXPO_PUBLIC_ENVIRONMENT=PRO
